#cloud-config
users:
  - default
  - name: stack
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    lock_passwd: false

package_update: true
packages:
  - git
  - curl
  - net-tools
  - dnsutils

runcmd:
  - [ bash, -c, "systemctl restart systemd-resolved" ]
  - [ bash, -c, "ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf" ]
  - [ bash, -c, "git clone https://opendev.org/openstack/devstack /home/stack/devstack" ]
  - [ bash, -c, "chown -R stack:stack /home/stack/devstack" ]
